@import url('reset.css');

:root {
    --fuenteprincipal: 'Sigmar One', serif;
    --fuentesecundaria:'Indie Flower', cursive;
    --anchomaximo: 80%;
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;

}

body{
    background-image: url(../images/cerveza.jpg);
}
.cabecera {
    display: flex;
    width: 100%;
    height: 200px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.cabecera>h1{
    font-size: 250%;
    font-family: var(--fuenteprincipal);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.imagen {
   margin-top: 10%;
   width: 60px;
   height: auto;
}


.consola{
   width: 60%;
   height: 40px;
   margin-top: 8%;
   display: flex;
   justify-content: space-around;
 }

#sumar, #restar{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    appearance: none;
    background: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.65);
    box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
    transition: 0.4 ease;
 }

#contador {
    font-size: 240%;
    font-style: inherit;
    font-family: var(--fuenteprincipal);
}

#destino{
    width: 248px;
    margin-top: 50px;
    padding: 10px 0 10px 0;
    border-radius: 16px;
    font-family: var(--fuentesecundaria);
    font-size: 140%;
}
 .cuenta{
    padding: 10px;
    margin-top: 25px;
    font-family: var(--fuentesecundaria);
    font-size: 180%;
    font-weight: bolder;
    background-color: rgba(255, 255, 255, 0.65);
    box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
 }